<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        height: 100%;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .options {
        background: #eee;
        width: 40vh;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
      }
      .options__column {
        margin: auto;
        min-width: 25%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>