<!DOCTYPE html>
<html>
  <head>
    <title>Poker Planning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
      html, body {
        height: 100%;
      }
      body {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        background: #fff5ec;
        color: #352121;
      }
      h1 {
        font-size: 42px;
      }
      a {
        color: #352121;
        font-weight: bold;
      }
      form {
        margin-bottom: 20px;
      }
      form input {
        border: 0;
        margin: 0;
        padding: 0;
        outline: none;
        background: none;
      }
      form input[type="text"] {
        font-size: 36px;
        width: 100%;
        margin-bottom: 5px;
      }
      form input[type="submit"] {
        font-size: 32px;
        font-weight: bold;
        border-bottom: 3px solid;
        cursor: pointer;
      }
      #sharelink {
        font-size: 24px;
      }
      .l-container {
        margin: auto;
        width: 80%;
      }
      .l-poll__container {
        display: none;
      }
      .l-poll__container.l-poll__container--is-visible {
        display: initial;
      }
      .c-option {
        display: flex;
        justify-content: space-between;
        padding: 8px 10px;
        position: relative;
        overflow: hidden;
        opacity: 0.6;
      }
      .c-option.c-option--is-clickable {
        cursor: pointer;
        opacity: 1;
      }
      .c-option__score {
        font-weight: bold;
      }
      .c-option:not(:last-child) {
        border-bottom: 1px solid black;
      }
      .c-option div:not(.c-option__background) {
        position: relative;
      }
      .c-option__background {
        background: #88b4f2;
        position: absolute;
        top: 0;
        left: -1px;
        right: 0;
        bottom: 0;
        transition: transform 0.2s ease;
        transform: translateX(-100%);
      }
      .c-option__voters {
        text-align: right;
      }

      @media screen and (min-width: 650px) {
        h1 {
          font-size: 48px;
        }
        .l-container {
          width: 50%;
        }
      }
    </style>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>