<div class="l-container">
  <h1>Create a task and get your teams time estimates, live! </h1>
  {{!-- <p>Share a personal url to members of your team, who then can add their name, vote and view the results in real-time.</p> --}}
  <form action="" method="POST">
    <input type="text" name="task[name]" placeholder="e.g. Color code our books">
    <input type="submit" value="Create">
  </form>
</div>