<div class="l-container">
  <h3>Share this url with your colleagues:</h3>
  <form class="c-share">
    <input class="c-share__input" type="text" value="">
  </form>
  
  <br>

  <a id="add">Add your vote</a>
</div>

<script>
  const linkForm = document.querySelector('.c-share__input');
  const taskUrl = window.location.href.replace(/\/share/, '')

  if (taskUrl) {
    linkForm.value = taskUrl;
    document.querySelector('#add').setAttribute('href', taskUrl);
    linkForm.addEventListener('click', function() {
      linkForm.select();
    });
  } 
</script>